@import "tailwindcss";
@plugin "daisyui";

body {
  /* Resim yolu */
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/bg.png");
  
  /* TEK DEĞİŞİKLİK BURADA: center yerine 'bottom center' yazıyoruz */
  background-position: bottom center; 

  background-repeat: no-repeat;
  background-size: cover; /* Ekranı kaplamaya devam etsin */
  background-attachment: fixed; /* Sayfayı kaydırsan bile resim sabit kalsın */
  min-height: 100vh;
  margin: 0;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}